// main{
//     p{
//         text-align: center;
//     }
// }
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        margin-bottom: 10px;
    }
    .form1{
        width: 45vw;
    }
}

    //BEM//
    .containerContactos__parrafo--centrado{
        text-align: center;
    }