$tamanio-nombre:20px;
$width: 100vw;

.profesores{
        display: flex;
        margin: 0px 5px;
        text-align: center;
        &__img{
            width: ($width - 60vw);
            height: 40vh;
            // justify-content: space-around;
        }
}

.contenedor{
    text-align: center;
}

.profesores__img{
    padding: 3px;
}
.NombreProfesores{
    font-size: ($tamanio-nombre - 2) ;
    font-weight: bold;
}

.boton{
    margin-bottom: 15px;
    border: 1px solid black;
}

.grid-profesores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}
//BEM//
// .contendedor__parrafo1--tipografia{
//     font-family: cursive;
// }

// .contendedor__titulo1--tamaño{
//     text-decoration: underline;
//     text-align: center;
// }

// .contenedor__parrafo4--centrado{
//     text-align: center;
// }

// .profesores__img--bordes{
//     background-color: black;
//     border-radius: 50%;
// }
@media (max-width:1000px){
    .profesores__img{
        width: auto;
        height: auto;
    }
    .grid-profesores{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }
}