main{
    p{
        font-size: 16px;
    }
}

footer{
    margin-top: 50px;
}

.grillaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 8px;
    justify-items: center;
    margin-top: 50px;
    p{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    img{
        height: auto;
        width: auto;
    }
}

//BEM//
.productostexto__parrafo--size{
    font-size: 20px;
    color:tomato;
    font-weight: bolder;
    text-align: center;
}
//

//MEDIAQUERYS//

@media (max-width:700px){
    .grillaProductos {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        justify-items: center;
    }
}

@media (max-width:400px){
    .grillaProductos {
        display: grid;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        justify-items: center;
    }
}
